{% extends 'base.html' %}

{% block content %}

<h1>Belanja di Tokopedrian!</h1>

<h2>Terdapat sebanyak {{banyak_data}} data yang telah disimpan</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Add</th>
        <th>Dec</th>
        <th style="color:red">Delete</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
            <td>
                <form method="post" action="{% url 'main:add_amount' product.id %}">
                    {% csrf_token %}
                    <button type="submit">+</button>
                </form>
            </td>
            <td>
                <form method="post" action="{% url 'main:decrement_amount' product.id %}">
                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>
            </td>
            <td>
                <form method="post" action="{% url 'main:delete_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit">DEL</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<h2>Nama:</h2>
<p>{{name}}</p>

<h2>Class:</h2>
<p>{{class}}</p>

{% endblock content %}